@page "/Post"
@layout PostLayout

<PageTitle>@_post.Title | 病去如风 - 一站式医患服务平台</PageTitle>

<div class="d-flex flex-column px-16 py-4">
    <h1 class="text-center">@_post.Title</h1>
    @((MarkupString)_post.HtmlContent)
    <MButton Fab XLarge Color="primary" Class="align-self-center">
        <MIcon>mdi-thumb-up-outline</MIcon>
    </MButton>
    <p class="text-center mt-4 text--secondary">@(_post.LikeCount) 人已点赞</p>
</div>
